* {
    box-sizing: border-box;
}

#canvas {
    width: 900px;
    height: 600px;
    /* in order to put this div at the center of the page */
    /* position, top and left has to be valued as below regardless of map dimension */
    position: absolute; 
    top: 50%;
    left: 50%;
    /* calculate margin according to map dimension to achieve desired position */
    margin: -300px 0 0 -450px;
}

#map {
    position: absolute;
    left: 0;
    top: 0;
    max-height: 100%;
}

#intro {
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 40%;
    font-size: 1.5em;
}

#edgewater,
#uptown,
#lakeview,
#lincolnsquare,
#northcenter,
#lincolnpark,
#nearnorthside,
#loop,
#southloop,
#bronzeville,
#kenwood,
#hydepark,
#bridgeport,
#chinatown,
#pilsen,
#nearwestside,
#westtown,
#logansquare {
    display: none;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 40%;
    font-size: 1.5em;
}

h3,
h4 {
    text-align: center;
    color: #0077b3;
}

p {
    font-style: italic;
    color: #0077b3;
}